layout {
    pane
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }

    swap_floating_layout name="floating panel" {
        floating_panes max_panes=1 {
            pane { x "2%"; y "1"; width "96%"; height "96%"; }
        }
    }
}
