* {
  accent:           #88C0D0;
  background:       #2E3440;
  background-light: #3b4252;
  background-focus: #4C566A;
  foreground:       #FFF;
  foreground-list:  #FFF;
  on:               #44AD4D;
  off:              #E34039;
}
